---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---

<h2>Overview</h2>
My current area of research is in developing multiscale simulation methodologies for simulating molecular beam experiments where the gas flow passes through wide Knudsen number range i.e., continuum to rarefied flow regimes.
The continuum regime is resolved by solving Navier-Stokes equations using a finite volume approach where as the rarefied regime is resolved solving a Boltzmann equation using Direct simulation monte-carlo (DSMC) approach.
Furthermore, I study the nano-particle interaction with the gas flow. I am currently optimizing this simulation framework using data science methods.  My reseach interests, current and past work are roughly presented here. For more details and resources of my work follow the links provided.

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

