---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---

<h2>Overview</h2>
My current research focuses on developing multiscale simulation methodologies for molecular beam experiments, encompassing a wide range of Knudsen numbers from continuum to rarefied flow regimes. 
In the continuum regime, I employ a finite volume approach to solve the Navier-Stokes equations, while in the rarefied regime, I utilize the Direct Simulation Monte Carlo (DSMC) approach to solve the Boltzmann equation. 
Additionally, my work delves into the interaction between nano-particles and gas flow. I am currently optimizing this simulation framework using data science methods. 
To explore more about my research interests, current projects, and past work, please follow the links provided for detailed resources.
{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

