---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I intend to share useful knowledge resources such as learning material, tutorials, tips and code repos here in the near future..


<h2> Basic Finite-volume CFD </h2>h2
Contains baics finite voume cfd codes written by me during my studies in matlab - 
<p><a href="https://github.com/peravali0812/FVM_cfd">git repo!</a></p>
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
