---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I intend to share useful knowledge resources such as learning material, tutorials, tips and code repos here in the near future..


<h2> Getting started with Finite-volume CFD </h2>
Contains baics finite voume cfd codes written by me during my studies in matlab - <p><a href="https://github.com/peravali0812/FVM_cfd">git repo!</a></p>

<h2> Getting started with meshless CFD (SPH) </h2>

<h2> Discrete methods (DSMC/MD/LBM/DEM) </h2>

<h2> Parallelizing your code with openMP (in C++)</h2>

<h2> Parallelizing your code with MPI (in C++) </h2>

<h1> External resources </h1>
Here i intend to share resources from others
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
